<div class="trm-contacts-creator">
  <form [formGroup]="form" (ngSubmit)="save(form.value)" novalidate>
    <md-card>
      <md-card-title-group>
        <img md-card-md-image alt="Placeholder image" src="/assets/images/placeholder.png">
        <md-card-title></md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        <div fxLayout="column">
          <md-input-container fxFlex [dividerColor]="form.get('name').errors ? 'warn' : 'primary'">
            <input mdInput placeholder="Name" formControlName="name">
            <md-hint align="end" *ngIf="!form.get('name').valid && !form.get('name').pristine">
              <ng-template [ngIf]="form.get('name').hasError('required')">This field is required</ng-template>
              <ng-template [ngIf]="form.get('name').hasError('minlength')">A name must have at least {{form.get('name').errors.minlength.requiredLength}} characters</ng-template>
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex [dividerColor]="form.get('email').errors ? 'warn' : 'primary'">
            <input mdInput placeholder="Email" formControlName="email">
            <md-hint align="end" *ngIf="!form.get('email').valid && !form.get('email').pristine">
              <ng-template [ngIf]="form.get('email').hasError('validateEmail')">Please enter a valid email address</ng-template>
              <ng-template [ngIf]="form.get('email').hasError('emailTaken')">This email address is already taken</ng-template>
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Birthday" formControlName="birthday" type="date">
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Phone" formControlName="phone">
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Website" formControlName="website">
          </md-input-container>
          <label class="gender-label">Gender:</label>
          <md-radio-group formControlName="gender">
            <md-radio-button *ngFor="let variant of gender" [value]="variant">
              {{variant}}
            </md-radio-button>
          </md-radio-group>
          <fieldset formGroupName="address" fxLayout="column">
            <legend>Address</legend>
            <md-input-container fxFlex>
              <input mdInput placeholder="Street" formControlName="street">
            </md-input-container>
            <md-input-container fxFlex>
              <input mdInput placeholder="Zip" formControlName="zip">
            </md-input-container>
            <md-input-container fxFlex>
              <input mdInput placeholder="City" formControlName="city">
            </md-input-container>
            <md-select placeholder="Country" formControlName="country">
              <md-option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</md-option>
            </md-select>
          </fieldset>
        </div>
      </md-card-content>
      <md-card-actions fxLayout fxLayoutAlign="center center">
        <button md-button type="submit" title="Save contact" [disabled]="!form.valid">Save</button>
        <a md-button title="Cancel creating new contact" routerLink="/">Cancel</a>
      </md-card-actions>
    </md-card>
  </form>
</div>
